<h1>Pick a Box</h1>
<div class=main_back>

<h2>Points: <%=current_user.points%></h2>

<% @boxes.each do |box| %>
    <div class=boxes>
        <%= link_to "#{box.rarity} Cost: #{box.cost} " , box_path(box)%>
    </div>
    <% end %>

    <br>
    <br>
    <br>


<h3>Gem Cards Availible</h3>
<% @boxes.first.cards.each do |card| %>
    <div class="gem">
        <h6><%= card.name %></h6>
        <p><%= card.points_worth %> pts</p>
    </div>
<% end %>
