<h1>Pick a Box</h1>
<ul>

<% @boxes.each do |box| %>
    <li> <%= link_to box.rarity, box_path(box) %> Cost: <%= box.cost %> </li>
<% end %>

</ul>

<h3>Gem Cards Availible</h3>
<% @boxes.first.cards.each do |card| %>
    Name: <%= card.name %><br>
    Worth: <%= card.points_worth %><br>
    <br>
<% end %>