<%= @box.rarity %><br>

<% @box_cards.each do |card| %>
    <div class="gem">
        <h6><%= card.name %></h6>
        <p><%= card.points_worth %> pts</p>
    </div>
<% end %>
<div class="space"></div>
<%= link_to "Return to Profile", user_path(current_user) %>
