<h1>Welcome to the soon-to-be fancy Home Page!</h1>
<% flash.each do |type, msg| %>
    <div>
        <%= msg %>
    </div>
<% end %><br><br>
<%= link_to "Create a New Account", new_user_path%><br>
<%= link_to "View Leaderboard", users_path%><br>
Existing user? <%= link_to "Sign In", login_path %>