<% flash.each do |type, msg| %>
    <div>
        <%= msg %>
    </div>
<% end %><br><br>
<div class=main_back>
<h1>Welcome to Gem Trader</h1>
    <p class=welcome_desc>
        Gem Trader is a small web application that allows users to buy, sell, and collect
        Gem Cards.<br>
        To get started, please create an account.<br>
        If you already have an account with us, please login to return to your profile.<br>
        <br>
        Happy Trading!
    </p>    
    New User? <br><br><div class="buttons"><%= link_to "Create a New Account", new_user_path%></div><br>
</div>
